* {
    font-family: "Arial";
}

h3 {
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 22px;
    background-color: rgb(75, 142, 204);
    background-size: cover;
    background-clip: padding-box;
}

h1 {
    color: white;
    background-color:rgb(75, 142, 204);
    border: 2px solid black;
    border-radius: 5px;
}

uo,
ol,
p {
    font-size: 18px;
}

.Button {
    font-size: 20px;
    
    background-color: rgb(75, 142, 204);
}

a:visited {
    color:white;
}

a:link {
    color:white;
}

